<div class='container'>
  <h1>Create a Note</h1>

  <form id="create_note" action="/notes  " method="post">
    <input type="text" name="title" id="title" placeholder="Note Title">
    <br>
    <textarea rows='4' cols='50' type="text" name="content" id="content" placeholder="Enter your note here"></textarea><br>
    <input type="submit">
  </form>
</div>
