<div class='container'>
  <h1>Create a Note</h1>

  <form action="/create" method="post">
    <input type="text" name="title" id="title" placeholder="Note Title">
    <input type="text" name="content" id="content" placeholder="Enter your note here">
    <input type="submit">
  </form>
</div>
